body, html{
    position: relative;
    overflow-x: hidden;
}
body{
    height: 100vh;
    background-color: black;
    padding: 0 128px;
    animation: zoom 1.5s;
}
.links-cont a {
    text-shadow: 2px 2px 2px #000;
    padding: 8px 5px;
    transition: all .5s;
}
.links-cont a:hover{
    color: #FF031A;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
h1{
    color: white;
    padding: 51px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Mulish';
}
.estranho{
    font-size: 4.675rem;
}
.doctor{
    font-size: 4rem;
}
.videos-container{
    display: flex;
    padding: 134px;
    gap: 55px;
}
@media (max-width: 768px){
    .estranho{
        font-size: 3rem;
    }
    .doctor{
        font-size: 2rem;
    }
    body{
        padding: 0 30px;
    }
    .videos-container{
        flex-direction: column;
    }
}
@keyframes zoom {
    0%{
        transform: scale(3);
    }
    100%{
        transform: scale(1);
    }
}